body {
    background-color: rgb(42, 42, 43);
    width: 50%;
    height: auto;
    color: rgb(153, 153, 153);
    padding: 5%;
}

#ul1 {
    display: inline-block;
    width: 300px;
    padding: 5px;
    border: rgb(0, 0, 0);
    border-width: 2px;
    border-right-style: solid;
    border-bottom-style: dotted;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-stretch: wider;
    font-style: italic;
    text-align: center;
}

#ul2 {
    display: inline-block;
    width: 300px;
    padding: 5px;
    border: rgb(0, 0, 0);
    border-width: 2px;
    border-left-style: solid;
    border-top-style: dotted;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-stretch: wider;
    font-style: italic;
    text-align: center;
}

#footer {
    background-color: rgba(46, 46, 46, 0.815);
    height: 40px;
    width: 100%;
    bottom: 0;
    position: fixed;
    padding-right: 2%;
    right: 0;
    bottom: 0;
    text-align: right;
    color: burlywood;
  }
  
  #footer a:hover {
    color: rgb(224, 147, 45);
    transition-duration: 1.5s;
  }

  a:link {
    color: burlywood;
  }
  
  a:visited {
    color: burlywood;
  }
